{% extends 'base.html' %}

{% block request %}
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">

    <form action={{ url_for('render_request') }} method="POST" class="card mb-5">
        {{ form.csrf_token() }}
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем&nbsp;отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-1">
          <div class="row">

            <div class="col">
            {{ form.goals.label }}
               {% for goal in form.goals %}
                <div class="form-check">
                    {{ goal(class="form-check-label") }}
                    {{ goal.label(class="form-check-label") }}
                </div>
            {% endfor %}
            </div>

          <div class="col">
              <p>{{ form.times.label }}</p>
              {% for time in form.times %}
                <div class="form-check">
                    {{ time(class="form-check-label") }}
                    {{ time.label(class="form-check-label") }} час.&nbsp;в&nbsp;неделю
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
            {{ form.name.label(class="mb-1 mt-2") }}
            {{ form.name(class="form-control") }}
            {{ form.phone.label(class="mb-1 mt-2") }}
            {{ form.phone(class="form-control") }}
            {{ form.submit(class="btn btn-primary mt-4 mb-2")}}
        </div>
    </form>


    </div>
{% endblock %}